.activity-preview {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;

    .activity-img {
        min-height: 32px;
        min-width: 32px;
        border-radius: 50%;
        background-size: cover;
        background-color: #ebecef;
        align-self: flex-start;
    }

    .activity-content {
        width: 100%;
        text-align: start;
    }

    .activity-fullname {
        color: $clr2;
        padding-right: 5px;
        font-weight: bold;
    }

    .activity-txt {
        font-size: 12px;
        font-weight: normal;
    }

    .activity-task {
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
    }

    .activity-time {
        color: #5e6c84;
        font-size: 12px;
    }
}