.add-group {
    // background-color: rgba(255, 255, 255, 0.2);
    background-color: #ffffff3d;
    color: $clr6;
    margin: 0 4px;
    // margin: 0 4px;
    min-width: 272px;
    border-radius: 3px;
    transition: height 2.5s;

    &:hover {
        background-color: #ffffff4d;
    }

    .open-form {
        display: flex;
        align-items: center;
        padding: 6px 8px;

        // svg {
        //     width: 14px;
        //     height: 14px;
        // }
    }

    form {
        background-color: $clr6;
        border-radius: 3px;
        padding: 4px;

        input {
            width: 100%;
            padding: 8px 12px;
            border: solid 2px $clr8;
            border-radius: 3px;

            &:focus-visible {
                outline: none;
            }
        }

        .form-btns {
            margin-top: 4px;
        }
    }

    .btn-add-group {
        background-color: $clr8;
        border-radius: 3px;
        padding: 4px 12px;
        margin-inline-end: 4px;
    }

    .btn-close-form {
        color: $clr9;
        background-color: inherit;
        width: 32px;
        aspect-ratio: 1/1;
    }
}