.add-task {
    padding-bottom: 8px;
    min-height: 38px;

    textarea {
        font-family: inherit;
        resize: none;
        border: none;
        position: relative;
        background-color: $clr6;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(9, 30, 66, 0.2509803922);
        width: 100%;
        padding: 6px 8px 2px;
        min-height: 54px;

        &:focus-visible {
            outline: none;
        }
    }
    .form-btns {
        display: flex;
        align-items: center;
        margin-top: 4px;
    }
}