.app-header {
    // background-color: #181e21;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    gap: 5px;
    width: 100%;

    .header-logo {
        padding: 0 16px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;

        svg {
            margin-inline-end: 5px;
            height: 24px;
            width: 24px;
        }
    }

    .home-header {
        height: 60px;
    }

    .header-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 6px;
        color: $clr6;

        svg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            padding: 5px;

            &:hover {
                background-color: $clr11;
            }
        }
    }
}