.app-header {
    background-color: #181e21;
    color: #fff;
    display: flex;
    align-items: center;
    height: 44px;
    gap: 5px;


    .header-logo {
        padding: 0 16px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;

        svg {
            margin-inline-end: 5px;
            height: 24px;
            width: 24px;
        }
    }


}

.home-header {
    height: 60px;
}