.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    gap: 5px;
    width: 100%;

    .header-logo {
        margin: 0 10px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        border-radius: 3px;
        color: inherit;

        &:hover {
            backdrop-filter: contrast(0.5);
        }

        svg {
            margin-inline-end: 5px;
            height: 24px;
            width: 24px;
            color: #fff;
        }
    }

    .home-header {
        height: 60px;
    }

    .header-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 6px;
        color: inherit;
        padding-inline-end: 6px;


        svg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            padding: 5px;

            &:hover {
                backdrop-filter: contrast(0.5);

            }
        }
    }

    .header-sec-container {
        display: flex;
        align-items: center;
        gap: 6px;
        padding-inline-end: 12px;
    }

    .account-item {

        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: #455a64;
        display: flex;
        align-items: center;
        text-align: center;

        span {
            width: 100%;
            font-size: 12px;
        }
    }
}