.create-board-modal {
    color: $clr1;
    width: 300px;
    position: absolute;
    background-color: $clr6;
    z-index: 10;
    margin-top: 7px;
    padding: 10px;
    border: solid 1px rgba(9, 30, 66, 0.08);
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25);



    .create-board-title {
        text-align: center;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        margin-bottom: 8px;
        padding: 6px 12px;
    }

    .jarvis-container {
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        margin-bottom: 8px;
        padding: 6px 12px;
    }

    .btn-jarvis {
        // background-image: url(https://www.swri.org/sites/default/files/styles/client_services_banner/public/client-services-images/clarity-software-development-architecture.jpg?itok=Au1EaCsr&c=87105dd462fd8ffa214a5ecc56486f30);
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('https://www.swri.org/sites/default/files/styles/client_services_banner/public/client-services-images/clarity-software-development-architecture.jpg?itok=Au1EaCsr&c=87105dd462fd8ffa214a5ecc56486f30');
        background-size: cover;
        background-position: center center;
        padding: 8px 12px;
        border-radius: 3px;
        color: #fff;
        font-weight: bold;



        &:hover {
            opacity: .7;

        }

    }

    .board-title-add {
        input {
            outline: none;
            border: none;
            color: $clr2;
            line-height: 20px;
            border-radius: 3px;
            padding: 8px 12px;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            background-color: #fafbfc;
            width: 100%;
            margin-bottom: 10px;

            &:focus {
                background-color: $clr6;
                box-shadow: inset 0 0 0 2px #0079bf;
                outline: none;
            }

            &:hover {
                box-shadow: inset 0 0 0 2px #eb5a46;
            }
        }
    }

    .btn-create-board {
        background-color: $clr10 ;
        padding: 8px 12px;
        border-radius: 3px;

        &:hover {
            background-color: $clr11;
        }
    }

    .create-board-img {
        background-size: cover;
        background-position: center center;
        padding: 10px;

        svg.board-skeleton {
            width: 100%;
            height: 100%;
        }
    }

    .create-bgs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .bg-img {
            background-position: center center;
            background-size: cover;
            height: 100%;
            border-radius: 3px;
            width: 65px;
            height: 40px;

            &:hover {
                opacity: .7;
            }
        }

        .bg-color {
            border-radius: 3px;
            width: 40px;
            height: 32px;

            &:hover {
                opacity: .7;
            }
        }
    }
}

@include for-mobile-layout {
    .create-board-modal {
        position: absolute;
        left: 45px;
    }
}