.board-side-menu {
    background-color: #f4f5f7;
    box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
    transition: width 0.5s;
    z-index: 2;
    top: 44px;
    right: 0;
    bottom: 0;
    z-index: 5;
    overflow: hidden;
    position: fixed;
    color: $clr2;
    text-align: center;
    width: 0;


    &.open {
        width: 340px;
        padding: 6px;
    }



    .bsm-title {
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        margin-bottom: 8px;
        padding: 12px;

    }


    .bsm-content {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 12px 6px 8px 12px;
        font-weight: bold;
        width: 100%;
        cursor: pointer;
        border-radius: 3px;

        &:hover {
            background-color: #EBECF0;

        }
    }

    .bsm-board-bg {
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center center;
        border-radius: 3px;

    }

    .bsm-add-bg-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 6px 8px 12px;
        cursor: pointer;

    }

    .bsm-back {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }

    .bsm-item {
        width: 152px;
        height: 96px;
        background-size: cover;
        border-radius: 8px;
        margin-bottom: 10px;

        &-img {
            background-image: url(https://res.cloudinary.com/dsvs2bgn4/image/upload/v1674336073/photos-thumbnail_3x.8f9c1323c9c16601a9a4_wvh9qh.jpg);
        }

        &-color {

            background-image: url(https://res.cloudinary.com/dsvs2bgn4/image/upload/v1674336095/colors_2x.ec32a2ed8dd8198b8ef0_f5kpzz.jpg);
        }

        &:hover {
            opacity: .7;
        }

    }

    .photos-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        padding: 12px 6px 8px 12px;


    }

    .bp-img {
        background-size: cover;
        background-position: center center;
        border-radius: 8px;
        width: 150px;
        height: 96px;
        cursor: pointer;


    }


}

// 3EstyVWkSWr6NLXH18MuOeXbQ8ZaoaBPZW1TGe64YI4
// kyzZdwREKYkRpYb2sdqCWQW6sl-PwFBOM1QicQZV8JY
//  https: //api.unsplash.com/photos/?client_id=3EstyVWkSWr6NLXH18MuOeXbQ8ZaoaBPZW1TGe64YI4