.board-notification {
    width: 432px;
    min-height: 447px;
    position: absolute;
    top: 44px;
    right: 6px;
    z-index: 10;
    background-color: #fff;
    border-radius: 3px;
    color: $clr1;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);


    .noti-title {
        text-align: center;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        margin-bottom: 8px;
        padding: 26px 14px;
        color: $clr2;
        font-size: 20px;
        text-align: start;
    }

    .noti-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $clr2;
        margin: 12px 0;
        padding: 46px 8px;
        font-size: 20px;

        img {
            width: 107px;
            height: 133px;
            margin-bottom: 33px;
        }

        h3 {
            font-size: 20px;
        }
    }
}