.board-list {
    min-width: 274px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 96px;
    gap: .75em;
    margin-bottom: 40px;

    @include for-narrow-layout {
        grid-template-columns: repeat(3, minmax(125px, 1fr));
    }

    @include for-normal-layout {
        grid-template-columns: repeat(4, minmax(125px, 1fr));
    }

    @include for-wide-layout {
        grid-template-columns: repeat(5, minmax(125px, 1fr));
    }

    >section {
        cursor: pointer;
        background-color: #091e420a;
        border-radius: 3px;
        padding: 8px;
    }

    .add-board {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #091e4214;
        }
    }

    .board-preview {
        color: $clr6;
        font-weight: 900;
        font-size: 1.25em;
        background-position: 50%;
        background-size: cover;

        .board-hover {
            display: flex;
            height: 100%;
            width: 100%;

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        button {
            color: red;
        }
    }
}