.board-recent {
    width: 304px;
    height: max-content;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    top: 46px;
    padding: 12px;
    color: $clr2;
    font-weight: bold;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);


    .board-recent-img {
        background-position: center center;
        background-size: cover;
        height: 100%;
        border-radius: 3px;
        width: 40px;
        height: 32px;
    }

    .recent-content {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
    }


    .board-recent-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: #EBECF0;
        }

        svg {
            color: #42526E;
            width: 16px;
            height: 16px;
            stroke-width: 1px;

            &:hover {
                transform: scale(1.2);
                color: #f2d600;
            }
        }

        svg.yellow-star {
            fill: #f2d600;
            color: #f2d600;
        }
    }


    .board-recent-empty {
        p {
            text-align: center;
            color: #5E6C84;
            margin: 12px 0;
            font-weight: 400;

        }
    }

    .recent-loader {
        display: flex;
        justify-content: center;
    }
}