.board-preview {
    color: $clr6;
    background-position: 50%;
    background-size: cover;

    .board-hover {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        padding: 8px;
        border-radius: inherit;
        background-color: rgba(0, 0, 0, 0.25);

        h3 {
            flex-grow: 1;
            font-weight: 900;
        }

        button {
            align-self: flex-start;
            color: red;
        }

        .board-star {
            position: absolute;
            bottom: 10px;
            right: -12.5px;
            transition: .3s right;
            color: inherit;
            // color: rgba(255, 255, 255, 0);

            svg {
                display: block;
                height: fit-content;
            }

            &.show {
                right: 10px;
                color: $clr12;
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.4);

            .board-star {
                right: 10px;
            }
        }
    }
}