.checklist-item-preview {
    display: flex;
    min-height: 36px;
    width: calc(100% + 32px);
    border-radius: 3px;
    margin-inline-start: -44px;
    transition: background-color .7s;

    &:hover {
        background-color: #091e420a;

        .options-btn {
            display: flex;
        }
    }


    input {
        cursor: pointer;
        background-color: #fafbfc;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        border: none;
        width: 14px;
        height: 14px;
        transform: scale(1.2);
        font-size: 11px;

        &:checked {
            box-shadow: none;
        }
    }

    >:nth-child(2) {
        flex-grow: 1;
    }

    .options-btn {
        display: none;
        margin-inline-start: 4px;
        width: 24px;
        height: 24px;

        &:hover {
            background-color: #091e4214;
        }

        svg {
            stroke: none;
            width: 18px;
        }
    }

    .done {
        text-decoration: line-through;
        color: #5e6c84;
    }

    .edit-checklist {
        margin-bottom: 4px;

        textarea {
            resize: none;
            background-color: rgba(9, 30, 66, 0.04);
            border: 1px solid #091e4221;
            border-radius: 3px;
            padding: 8px 12px;
            height: 56px;
            width: 100%;
            outline: none;
        }

        .form-btns {
            display: flex;
            align-items: center;

            .btn-close {
                margin-inline-start: 2px;
            }
        }

        svg {
            width: 28px;
            height: 28px;
        }
    }
}