.comment-preview {
    display: flex;
    align-items: center;

    .comment-img {
        position: relative;
        right: 5px;
        top: -12px;
        min-height: 32px;
        min-width: 32px;
        border-radius: 50%;
        background-size: cover;
        background-color: #ebecef;
    }

    .comment-content {
        margin-inline-start: 4px;
        flex-grow: 1;

        .comment-name {
            font-weight: 700;
            margin-inline-end: 6px;
        }

        .comment-time {
            color: #5e6c84;
            font-size: 11px;
            font-weight: 100;
        }

        .comment-txt {
            width: 100%;
            background-color: $clr6;
            min-height: 36px;
            padding: 8px 12px;
            margin-top: 4px;
            border-radius: 3px;
            box-shadow: 0 0 0 1px rgb(9 30 66 / 8%);
            line-height: 20px;
        }
    }
}