.group-preview {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 4px;
    // padding: 0 4px;
    min-width: 272px;
    background-color: $clr3 ;
    max-height: 100%;

    border-radius: 3px; // maybe make var for this 

    .group-header {
        display: flex;
        align-items: center;
        padding: 4px;

        :first-child {
            font-family: Charlie-Semi-Bold;
            flex-grow: 1;
            padding: 6px 8px;

        }

        // padding: 6px 4px;

        textarea {
            height: 1.75rem;
            margin-top: 3px;
            margin-bottom: 4px;
            font-size: 14px;
            font-weight: 600;
            resize: none;
            overflow: hidden;
            overflow-wrap: break-word;

        }

        .options-btn {
            padding: 6px;
            height: 32px;
            width: 32px;

            &:hover {
                color: $clr7;
                background-color: #091e4214;
            }
        }
    }

    .task-list {
        overflow-y: auto;
        min-height: 1px;
        padding: 0 4px;
        margin: 0 4px;

        /* width */
        &::-webkit-scrollbar {
            background-color: #dadbe1;
            background-color: #091e4214;
            border-radius: 15px;
            width: 8px;

        }

        &::-webkit-scrollbar-thumb {
            background-color: #bfc2cc;
            border-radius: 15px;

        }
    }

    .open-form {
        height: 30px;
        margin: 2px 4px 6px;
        display: flex;
        align-items: center;
        padding: 4px 8px;
        border-radius: 3px;
        color: #5e6c84;
        cursor: pointer;

        &:hover {
            background-color: #091e4214;
            color: $clr2;
        }

        svg {
            // width: 14px;
            // height: 14px;
            margin-inline-end: 2px;
        }
    }

    .group-menu {}
}