.group-preview {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 4px;
    padding: 0 4px;
    min-width: 272px;
    background-color: $clr3 ;
    max-height: 98%;

    border-radius: 3px; // maybe make var for this 

    .group-header {
        display: flex;
        padding: 6px 4px;

        textarea {
            flex-grow: 1;
            height: 2rem;
            height: 1.75rem;
            padding: 6px 8px;
            margin: 0;
            font-weight: 600;
            resize: none;
            overflow-wrap: break-word;
        }

        .btn-remove-group {
            padding: 4px 6px;
            color: #ce2e6c;
        }
    }

    .task-list {
        overflow-y: auto;
        min-height: 1px;
        margin: 0 4px;

        /* width */
        &::-webkit-scrollbar {
            background-color: #dadbe1;
            border-radius: 15px;
            width: 9px;

        }

        &::-webkit-scrollbar-thumb {
            background-color: #bfc2cc;
            border-radius: 15px;

        }
    }

    .open-form {
        height: 30px;
        margin: 2px 4px 6px;
        display: flex;
        align-items: center;
        padding: 4px 8px;
        border-radius: 3px;
        color: #5e6c84;
        cursor: pointer;

        &:hover {
            background-color: #091e4214;
            color: $clr2;
        }

        svg {
            // width: 14px;
            // height: 14px;
            margin-inline-end: 2px;
        }
    }
}