.group-preview {
    margin: 0 4px;
    padding: 0 4px;
    min-width: 272px;
    background-color: $clr3 ;
    border-radius: 3px; // maybe make var for this 

    &-header {
        display: flex;
        // align-items: center;
        padding: 5px 8px;

        p {
            flex-grow: 1;
            padding: 4px 8px;
            margin: 0;
            font-weight: 600;
        }

        .btn-remove-group {
            padding: 4px 6px;
            color: $clr1;
        }
    }

    .task-list {
        margin: 0 4px;
    }

    // .task-list .task-preview:last-child {
    //     margin: 0;
    // }

    .add-task {
        margin: 0 4px;
        padding-bottom: 8px;
        // max-height: 38px;
        min-height: 38px;
        // height: 38px;

        .open-form {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 4px 8px;
            // margin-inline-start: 8px;

            p {
                margin: 0;
            }

            svg {
                width: 14px;
                height: 14px;
                margin-inline-end: 2px;
            }

        }

        textarea {
            font-family: inherit;
            resize: none;
            border: none;
            position: relative;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: var(--ds-shadow-raised, 0 1px 0 rgba(9, 30, 66, 0.2509803922));
            width: 100%;
            // margin-bottom: 8px;
            padding: 6px 8px 2px;
            min-height: 54px;

            &:focus-visible{
                outline: none;
            }
        }

        //similar to the btns in add group
        .btn-add-task {
            background-color: $clr8;
            border-radius: 3px;
            padding: 4px 12px;
            margin-inline-end: 4px;
        }

        .btn-close-form {
            color: $clr9;
            background-color: inherit;
            width: 32px;
            aspect-ratio: 1/1;
        }

    }

    .task-preview {
        position: relative;
        background-color: $clr6;
        cursor: pointer;
        border-radius: 3px;
        box-shadow: var(--ds-shadow-raised, 0 1px 0 #091e4240);
        max-width: 300px;
        min-height: 20px;
        margin-bottom: 8px;
        padding: 6px 8px 2px;
        display: flex;
        justify-content: space-between;

        .task-preview-edit {
            // position: absolute;
            color: #42526e;
        }

        &:hover {
            color: #091e42;
            background-color: rgba(255, 255, 255, 0.3);
        }

        &:hover .task-preview-edit {
            color: #42526e;
            display: block;
            width: 7%;
        }

    }
}