.home-header {
    background-color: rgb(255, 255, 255);
    color: rgb(23, 43, 77);
    font-family: Charlie-Text;

    .home-header-contianer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px auto;
        max-width: 1356px;

        h1 {
            padding-inline-start: 80px;
        }
    }

    .btn-login {
        appearance: none;
        align-items: center;
        border: none;
        font-size: 20px;
        height: 60px;
        background-color: inherit;
        padding: 0.5rem 1.5rem;
        color: rgb(23, 43, 77);
        padding: 0.5rem 1.5rem;
    }

    .btn-get-trello {
        appearance: none;
        align-items: center;
        transition: all 250ms ease-out 0s;
        background-color: rgb(0, 101, 255);
        border: 1px solid rgb(0, 101, 255);
        font-size: 20px;
        height: 65px;
        color: #fff;
        padding: 0.5rem 1.5rem;

        &:hover {
            background-color: rgb(7, 71, 166);
            border-color: rgb(7, 71, 166);
            text-decoration: none;
        }
    }
}