:root {
    --neon-blue: #03e9f4;
    --bg: #050801;
}

.large-header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000db;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 999;

    .main-title-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;

        .paragraph-container {
            align-self: center;
            width: 400px;
            margin: 2rem 0;
            margin-bottom: 125px;
            padding: 0 3rem;
            height: 110px;
            text-align: left;

            .Typewriter {
                margin-left: 1.5rem;

            }
        }

        .btn {
            overflow: hidden;
            border: 2px solid white;
            font-size: 1rem;
            color: white;
            background: none;
            cursor: pointer;
            padding: 5px 10px;
            display: inline-block;
            margin: 15px 30px;
            text-transform: uppercase;
            outline: none;
            position: relative;
            transition: all 0.3s;
            border-radius: 3px;
            font-weight: 700;
        }

        .btn:after {
            content: '';
            position: absolute;
            z-index: -1;
            transition: all 0.3s;
            box-sizing: border-box;
        }

        .btn-02:after {
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            background: #fff;
        }

        .btn-02:hover,
        .btn-02:active {
            color: #456467;
        }

        .btn-02:hover:after,
        .btn-02:active:after {
            height: 100%;
        }

    }

    .main-title-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg,
        path {
            fill: #fff;

            width: 160px;
            height: 200px;
        }

        .paragraph-container p {
            font-size: 16px !important;
        }
    }

    h3 {
        margin: 30px 0;
    }
}

.demo .large-header {
    background-image: url("ht1tpsdds://images.wallpaperscraft.com/image/starry_sky_stars_space_night_119881_1366x768.jpg");
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}

.main-title .thin {
    font-weight: 200;
}

@media only screen and (max-width: 768px) {
    .demo .main-title {
        font-size: 3em;
    }
}