.main-side-menu {
    top: 44px;
    left: 0;
    z-index: 2;
    position: fixed;
    transition: width 0.5s;
    height: 100vh;
    padding: 14px 0;
    // padding: 14px 12px;


    &.open-menu {
        width: 260px;
        border-right: 1px solid #535353;
    }

    .msm-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 6px 12px;
        border-bottom: 1px solid #DFE1E6;

        >* {
            color: inherit;
        }

    }

    .msm-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 10px;
        padding: 6px 12px;
        cursor: pointer;

        >* {
            color: inherit;
        }

        .msm-btn-star {
            align-self: self-end;
        }

        &:hover {
            background-color: #ffffff29;

            .msm-btn-star {
                display: block;
            }
        }

        .msm-card-bg {
            width: 24px;
            height: 20px;
            border-radius: 3px;
            background-size: cover;
            background-position: center center;
        }


    }

    .msm-board-bg {
        border-radius: 3px;
        background-size: cover;
        background-position: center center;
        width: 36px;
        height: 36px;
    }



    .msm-btn-close {
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        &:hover {
            background-color: #ffffff4d;
        }
    }

    .msm-btn-star {
        display: none;

        &:hover {
            transform: scale(1.2);
        }
    }

    .msm-your-boards {
        padding: 6px;
        // margin-bottom: 6px;
        font-weight: bold;
        padding: 14px 12px;


    }

    .msm-board-title {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 14px 12px;
        border-radius: 3px;
        cursor: pointer;
        // margin-bottom: 6px;

        &:hover {
            background-color: #ffffff4d;
        }

    }



}