.modal-members-list-container {
    margin-top: 12px;

    .member-container {
        cursor: pointer;
        padding: rem(4px);
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
            background-color: #091e420a;
        }

        .member-container-text-container {
            display: flex;
        }

        p {
            margin-right: 0.5rem;
        }

        button {
            position: absolute;
            right: rem(15px);
            font-size: 10px;
        }

        .display-none {
            display: none;
        }
    }

    .modal-member-icon {
        margin-right: rem(8px);
    }
}