.quick-task-edit {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 5000;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    cursor: default;

}

.quick-task-edit-container {
    position: absolute;
    border-radius: 3px;
    z-index: 6001;
    transition: height 2s;
    border-radius: 3px;

    cursor: default;

    .quick-task-edit-content {
        border-radius: 3px;

        background-color: white;
    }

    .quick-task-edit-details {
        padding: 6px 8px 2px;
        display: flex;
        flex-direction: column;
        gap: rem(4px);

        textarea {
            margin-top: 0.07rem;
            margin-left: -0.16rem;
            font-size: 14px;
            height: 100%;
            width: 100%;
            overflow: hidden;
            resize: none;
            border: none;
            outline: none;

        }

        .mini-labels-list-container {
            margin-top: 0.25rem;
            margin-left: -0.7px;
        }
    }

    button {
        margin-top: rem(18px);
    }

    .quick-edit-side {
        left: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: translateX(-20px);
        transition: opacity 85ms ease-in, transform 85ms ease-in;
        width: 240px;
        z-index: 0;

        &.fade-in {
            opacity: 1;
            transform: translateX(0);
        }

        span {
            margin-left: rem(4px);
        }

        .edit-side-btn {
            background: #0009;
            border-radius: 3px;
            clear: both;
            color: #c7d1db;
            display: flex;
            align-items: center;
            margin: 0 0 4px 8px;
            padding: 6px 12px 6px 8px;
            transition: transform 85ms ease-in;

            &:hover {
                background: #000c;
                color: #fff;
                transform: translateX(5px);
            }
        }
    }

    .quick-card-editor-buttons-left {
        left: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: translateX(20px);
        transition: opacity 85ms ease-in, transform 85ms ease-in;
        width: 240px;
        z-index: 0;
        left: -250px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &.fade-in {
            opacity: 1;
            transform: translateX(0);
        }

        span {
            margin-left: rem(4px);
        }

        .edit-side-btn {
            background: #0009;
            border-radius: 3px;
            clear: both;
            color: #c7d1db;
            display: block;
            float: left;
            margin: 0 0 4px 8px;
            padding: 6px 12px 6px 8px;
            transition: transform 85ms ease-in;
            display: flex;
            align-items: center;

            &:hover {
                background: #000c;
                color: #fff;
                transform: translateX(-5px);
            }
        }
    }
}