.quick-task-edit {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 5000;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;

}

.quick-task-edit-container {
    position: absolute;
    background-color: white;
    border-radius: 3px;
    z-index: 6001;
    transition: height 2s;
    cursor: default;

    .quick-task-edit-details {
        padding: 6px 8px 2px;
        display: flex;
        flex-direction: column;
        gap: rem(4px);

        textarea {
            margin-top: 0.07rem;
            margin-left: -0.16rem;
            font-size: 14px;
            height: 100%;
            width: 100%;
            overflow: hidden;
            resize: none;
            border: none;
            outline: none;

        }

        .mini-labels-list-container {
            margin-top: 0.25rem;
            margin-left: -0.7px;
        }
    }

}