.checklists-container {
    padding-top: 1.4rem;
    width: 100%;

    .task-details-checklist-container {
        width: 100%;
        margin: 0 0 1rem 0.8rem;
    }

    .task-details-checklist-header {
        display: flex;
        position: relative;
        justify-content: space-between;
        width: 99%;

        .checklist-header-title-container {
            display: flex;
        }

        svg,
        path {
            margin-top: -0.2rem;
            margin-left: -0.6rem;
            height: 20px !important;
            width: 20px !important;
        }

        h3 {
            margin-left: 0.8rem;
        }

        .checklist-header-btns {
            margin-top: -0.5rem;
        }

    }

    .progressBar-container {
        width: 100%;
        display: flex;
        padding-top: 0.7rem;
        margin-left: 1.2rem;

        h3 {
            font-size: 11px;
            margin-left: -2rem;
        }

        >div {
            margin-left: 0.6rem;
            width: 95%;
        }
    }

    .check-box-container {
        width: 100%;
        padding-top: 0.8rem;
        margin-left: 1.5rem;

        .check-box {
            cursor: pointer;
            margin-bottom: 1rem;
        }

        input {
            cursor: pointer;

            font-size: 11px;
            margin-left: -2.1rem;
        }

        p {
            margin-top: -1.5rem;
        }

        .check-box-is-done {
            text-decoration: line-through;
        }
    }

    .check-list-add-btn {
        margin-top: 2rem;
    }
}