.mini-labels-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: rem(4px);
    width: 99%;

    .label-container {
        margin-bottom: rem(4px);
        transition: all 0.5s;

        .task-preview-label {
            border-radius: rem(3px);
            padding: rem(4px) rem(16px);
            font-size: rem(12px);
            height: 8px;
            max-height: 8px;
            min-width: 40px;
            max-width: 40px;
        }


        .big-label-preview {

            display: flex;
            background-color: rgb(214, 236, 210);
            align-items: center;
            gap: 3px;
            padding: 0 8px;
            border-radius: 4px;
            height: 16px;
            font-size: 12px;



            .sec-label-big {
                width: 8px;
                height: 8px;
                border-radius: 50%;
            }
        }





    }






}