.task-details-content-label-members-date {
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem 0 0.2rem 2.3rem;

    p {
        font-size: 12px;
    }

    .members-icons-container {
        display: flex;
        margin-top: 0.3rem;
        margin-right: 0.6rem;

        >div {
            margin-right: 0.4rem;
        }

        .details-user-avatar-icon {
            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    .due-date {
        width: 100%;
        margin-top: 1rem;

        .due-date-input {
            margin-top: 0.3rem;

            input {
                width: rem(15px);
            }
        }

        button {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 14px;
            margin-left: 0.5rem;

            .complete{
                color: $clr6;
                background-color: #61bd4f;
                font-size: 12px;
                padding: 1px 4px;
                border-radius: 2px;
            }

            .icon {
                height: 14px;
                svg {
                    width: 14px;
                    height: 14px;
                    stroke: none;
                }
            }
        }
    }
}