.task-filter {
    height: 200px;
    background-color: $clr6;
    position: fixed;
    width: 384px;
    height: 384px;
    top: 94px;
    right: 0;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    color: #5e6c84;
    text-align: center;
    margin-right: 3px;
    overflow-y: auto;
    padding: 12px;



    input {
        outline: none;
        border: none;
        color: $clr2;
        line-height: 20px;
        border-radius: 3px;
        padding: 8px 12px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        background-color: #fafbfc;
        width: 100%;

        &:focus {
            background-color: $clr6;
            box-shadow: inset 0 0 0 2px #0079bf;
            outline: none;
        }
    }



    .task-filter-title {
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        margin-bottom: 8px;
    }

    .filter-keyword {
        text-align: start;
        font-size: 12px;
    }

    .filter-members {
        width: 100%;
        background-color: #f4f5f7;
        height: 36px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        cursor: pointer;
        border-radius: 3px;

        &:hover {
            background-color: #ebecf0;

        }
    }

}