.task-preview {
    position: relative;
    background-color: $clr6;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: var(--ds-shadow-raised, 0 1px 0 #091e4240);
    max-width: 300px;
    min-height: 20px;
    margin-bottom: 8px;

    justify-content: space-between;

    .task-preview-edit {
        color: #42526e;
    }

    &:hover {
        color: #091e42;
        background-color: #ffffff4d;
    }

    &:hover .task-preview-edit {
        color: #42526e;
        display: block;
        width: 7%;
    }

    p {
        margin: 0 0 4px;
    }

    .task-preview-details {
        padding: 6px 8px 2px;
    }

    .task-preview-edit-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}