.checklists-container {
    padding-top: 1.4rem;
    width: 100%;

    .task-details-checklist-container {
        width: 100%;
        margin: 0 0 1rem 0.8rem;
    }

    textarea {
        padding: 8px 12px;
        width: 100%;
        resize: none;
    }

    .task-details-checklist-header {
        display: flex;
        position: relative;
        justify-content: space-between;
        width: calc(100% - 0.8rem);


        .checklist-header-title-container {
            flex-grow: 1;
            display: flex;

            >:nth-child(2) {
                flex-grow: 1;
            }

            .edit-title {
                display: grid;
                gap: 4px;

                >* {
                    width: calc(100% - 13px);
                    margin-inline-start: 13px;
                }

                textarea {
                    height: 54px;
                    background-color: #091e420a;
                    box-shadow: 0 0 0 1px inset rgba(9, 30, 66, 0.13);
                    border-radius: 3px;
                    border: none;
                    outline: none;
                    font-size: 16px;
                    font-weight: 700;
                }

                .edit-btns {
                    display: flex;
                    font-weight: 400;
                    line-height: 20px;

                    .close-btn {
                        width: 32px;
                        height: 32px;
                        padding: 2px;
                    }

                    svg {
                        width: 28px;
                        height: 28px;
                        margin: 0;
                    }
                }
            }
        }

        svg,
        path {
            margin-top: -0.2rem;
            margin-left: -0.6rem;
            height: 20px;
            width: 20px;
        }

        h3 {
            margin-left: 0.8rem;
        }

        .checklist-header-btns {
            margin-top: -0.5rem;
        }
    }

    .progressBar-container {
        width: 99%;
        display: flex;
        padding-top: 0.7rem;
        margin-left: 1.9rem;

        .barCompleted {
            background-color: #60bc4f;
            width: 100%;
        }

        h3 {
            font-size: 11px;
            margin-left: -2.5rem;
        }

        >div {
            margin-left: 0.6rem;
            width: 94%;
        }
    }

    .check-box-container {
        padding-top: 0.8rem;
        margin-left: 1.75rem;
        margin: 0 0 24px 1.75rem;

        .check-box {
            margin-bottom: 1rem;
        }
    }

    .add-new-item {
        margin-top: 8px;
        position: relative;
        right: 5px;
        font-size: 14px;

        .add-item {
            margin: 0 10px 8px 0;
            width: calc(100% - 8px);

            >* {
                margin-inline-end: 4px;
            }

            textarea {
                height: 37px;
                line-height: 20px;
            }
        }
    }
}