.task-preview {
    position: relative;
    background-color: $clr6;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    // box-shadow: var(--ds-shadow-raised, 0 1px 0 #091e4240);
    max-width: 300px;
    min-height: 20px;
    margin-bottom: 8px;

    .task-preview-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: space-between;
    }

    .task-preview-edit {
        display: none;
        position: relative;
        top: -3px;
        right: -3px;
        height: 28px;
        width: 28px;
        color: #42526e;
        padding: 0.3rem 0.5rem 0.2rem;
        background-color: #f4f5f7b3;
        border-radius: 3px;
    }

    &:hover {
        color: #091e42;
        background-color: #ffffff4d;
    }

    &:hover .task-preview-edit {
        display: block;

        &:hover {
            background-color: #e6e6e69e;
            // background-color: #f4f5f7da;

            svg {
                color: #000000b7;
            }
        }
    }

    p {
        // margin: 0 0 4px;
    }

    .task-preview-details {
        padding: 4px 8px 2px;
        // padding: 6px 8px 2px;
        display: flex;
        flex-direction: column;
        // gap: rem(4px);
    }

    .task-preview-edit-icon {
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .task-preview-icons-container {

        svg,
        path {
            width: 100%;
            height: 100%;

        }
    }
}