.task-filter {
    color: #5e6c84;
    text-align: center;

    input {
        outline: none;
        border: none;
        color: #172b4d;
        line-height: 20px;
        border-radius: 3px;
        padding: 8px 12px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        background-color: #fafbfc;
        width: 100%;

        &:focus {
            background-color: #fff;
            box-shadow: inset 0 0 0 2px #0079bf;
            outline: none;
        }
    }
}

.task-filter-layout {
    padding: 12px;
}

.btn-close-filter {
    position: absolute;
    top: 10px;
    right: 10px;
}

.task-filter-title {
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
    margin-bottom: 8px;
    padding: 0 12px;
}

.filter-keyword {
    text-align: start;


}