.description-container {
    padding-top: 1.8rem;
    font-size: 14px;
    line-height: 20px;
}

.task-details-description {
    width: 100%;

    h3 {
        margin-left: 0.6rem;
    }

    textarea {
        // overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
        height: 100px;
        width: 100%;
        border: none;
        border-radius: 3px;
        font-family: sans-serif;
        padding: 8px 12px;

        &:focus {
            background-color: #fff;
            box-shadow: inset 0 0 0 2px #0079bf;
            outline: none;
        }
    }

    .des-container {
        padding: 1.2rem 0.7rem;
        padding-right: 0;
        cursor: pointer;

        .description-fake-text-area {
            width: 100%;
            background-color: #ebecf0;
            min-height: 55px;
            border-radius: 3px;
            padding: 8px 12px;

        }
    }
}