.checklists-container {
    padding-top: 1.4rem;
    width: 100%;

    .task-details-checklist-container {
        width: 100%;
        margin: 0 0 1rem 0.8rem;

    }

    .task-details-checklist-header {

        svg,
        path {
            margin-top: -0.2rem;
            margin-left: -0.6rem;
            height: 20px !important;
            width: 20px !important;
        }

        h3 {
            margin-left: 0.8rem;
        }
    }

    .progressBar-container {
        width: 100%;
        display: flex;
        padding-top: 0.2rem;
        margin-left: 1.2rem;

        h3 {
            font-size: 11px;
            margin-left: -2rem;
        }

        >div {
            margin-left: 0.6rem;
            width: 95%;
        }
    }

    .check-box-container {
        width: 100%;
        padding-top: 0.8rem;
        margin-left: 1.5rem;

        .check-box {
            margin-bottom: 1rem;
        }

        input {
            font-size: 11px;
            margin-left: -1.8rem;

        }

        p {
            margin-top: -1.5rem;

        }

        .check-box-is-done {
            text-decoration: line-through;
        }
    }
}