.attachments-container {
    clear: both;
    margin-bottom: 24px;
    position: relative;

    button {
        margin-left: 40px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .task-details-attachment-header {
        display: flex;

        padding: 8px 0;
        position: relative;

    }

    .attachment-icon {
        svg {
            transform: scale(1.30) rotate(-90deg) translate(8px, -3px);

            path {
                // transform: 
                transform: rotate(-42deg) scale(0.38) translate(-30px, 10px);
            }
        }
    }

    h3 {
        margin-left: 0.6rem;
    }
}

.task-details-attachment {
    width: 100%;

    &-content-container {
        margin-left: 38px;
        width: 100%;
    }

    &-content {
        display: flex;

        border-radius: 3px;
        margin: 0 0 16px;
        min-height: 80px;
        overflow: hidden;
        position: relative;
    }

    .img-container {
        min-width: 112px;
        min-height: 80px;

        div {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 3px;
        }
    }

    .attachment-details {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        padding-top: 0.2rem;

        .attachment-details-crud {
            color: #5e6c84;
            display: flex;
            align-items: flex-start;

            ul {
                all: unset;
                margin-left: 1.3rem;

                li {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}