.task-details-content-lable-members-date {
    display: flex;

    flex-wrap: wrap;
    margin: 2rem 0 0.2rem 2.2rem;

    p {
        font-size: 12px;
    }

    .members-List {}

    .members-icons-container {
        display: flex;
        margin-top: 0.3rem;
        margin-right: 0.6rem;

        >div {
            margin-right: 0.4rem;

        }

        .details-user-avatar-icon {
            svg {
                width: 1rem;
                height: 1rem;
            }
        }

    }

    .labels-list-container {
        display: flex;
        margin-top: 0.3rem;
        margin-right: 1rem;

        >div {
            margin-right: 0.25rem;

        }
    }

    .due-date {
        width: 100%;
        margin-top: 1rem;

        .due-date-input {
            margin-top: 0.3rem;

            input {
                width: rem(15px);
            }

            :last-child {
                margin-left: 0.5rem;
            }
        }

        button {
            font-size: 14px;

        }

    }

}