.mini-labels-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px 0 4px;
    gap: 4px;
    margin-bottom: rem(4px);
    width: 99%;


    .label-container {
        margin-bottom: rem(4px);
        transition: all 0.5s;

        .task-preview-label {
            border-radius: 5px;
            padding: rem(4px) rem(16px);
            font-size: rem(12px);
            height: 8px;
            width: 40px;
            transition: all 0.5s;

            &.open {
                display: flex;
                background-color: rgb(214, 236, 210);
                align-items: center;
                gap: 3px;
                padding: 0 8px;
                border-radius: 4px;
                height: 16px;
                font-size: 12px;
                transition: all 0.5s;
                width: 100%;


            }

            .sec-label-big {
                width: 8px;
                height: 8px;
                border-radius: 50%;
            }

        }
    }






}