.checklists-container {
    padding-top: 1.4rem;
    width: 100%;

    .task-details-checklist-container {
        width: 100%;
        margin: 0 0 1rem 0.8rem;
    }

    .task-details-checklist-header {
        display: flex;
        position: relative;
        justify-content: space-between;
        width: calc(100% - 0.8rem);

        .checklist-header-title-container {
            display: flex;
        }

        svg,
        path {
            margin-top: -0.2rem;
            margin-left: -0.6rem;
            height: 20px;
            width: 20px;
        }

        h3 {
            margin-left: 0.8rem;
        }

        .checklist-header-btns {
            margin-top: -0.5rem;
        }
    }

    .progressBar-container {
        width: 100%;
        display: flex;
        padding-top: 0.7rem;
        margin-left: 1.3rem;

        .barCompleted {
            background-color: #60bc4f;
            width: 100%;
        }

        h3 {
            font-size: 11px;
            margin-left: -2rem;
        }

        >div {
            margin-left: 0.6rem;
            width: 94%;
        }
    }

    .check-box-container {
        // width: 100%;
        padding-top: 0.8rem;
        margin-left: 1.75rem;

        .check-box {
            margin-bottom: 1rem;
        }
    }

    .add-new-item {
        margin-top: 8px 0;
        position: relative;
        right: 5px;
        font-size: 14px;

        .add-item {
            margin: 0 10px 8px 0;
            width: calc(100% - 8px);

            >* {
                margin-inline-end: 4px;
            }
            
            textarea {
                width: 100%;
                padding: 8px 12px;
            }
        }
    }
}