.tool-bar {
    padding: 8px 4px 4px 12px;
    color: $clr6;
    // padding-left: 32px;
    padding: 0 12px 8px;
    margin-top: -4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .board-title {
        color: $clr6;
        width: fit-content;
        padding: 0 12px;
        font-size: 18px;
        font-weight: 700;

        &:hover {
            background-color: #ffffff4d;
        }

        &:focus-visible {
            color: $clr7;
            background-color: $clr6;
        }
    }



    svg {
        width: 20px;
        height: 20px;
    }

    .btn-header-square {
        padding: 1rem 0.4rem;
    }

    .tool-bar-btns {
        display: flex;
        width: 20%;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 1.3rem;
            color: rgba(211, 211, 211, 0.1);
        }
    }

    // .fa-solid.x::before {

}

.task-filter {
    height: 200px;
    background-color: #fff;
    position: fixed;
    width: 384px;
    height: 384px;
    will-change: top, left;
    top: 82px;
    left: 1154px;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
}