.tool-bar {
    padding: 6px 4px 6px 32px;
    margin-top: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    .board-title {
        letter-spacing: 0.5px;
        font-family: Charlie-Bold;
        line-height: 32px;
        cursor: pointer;
        width: fit-content;
        padding: 0 12px;
        font-size: 18px;
        font-weight: bold;

        &:hover {
            // background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: contrast(0.5);

        }

        &:focus-visible {
            color: $clr7;
            background-color: $clr6;
        }

    }

    svg {
        width: 20px;
        height: 20px;
    }

    .btn-header-square {
        padding: 1rem 0.4rem;
    }

    .tool-bar-btns {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-inline-end: 6px;

        .span {
            font-size: 1.3rem;
            color: inherit;
        }

    }

    .tool-bar-star {
        // background-color: $clr10;
        backdrop-filter: contrast(0.5);

        border-radius: 3px;
        line-height: 1;
        margin-inline-start: 5px;
        padding: 6px 8px;

        svg {
            width: 16px;
            height: 16px;
            stroke-width: 1px;

            &:hover {
                transform: scale(1.2);
                color: $clr12;
            }
        }

    }

    .right-open {
        margin-right: 300px;
        transition: margin 0.4s;
    }

    svg.btn-share {
        width: 16px;
        height: 16px;
    }

}