.user-msg {
    color: $clr6;
    padding: 6px 8px;
    position: fixed;
    top: 50px;
    right: 6px;
    background-color: grey;
    z-index: 100;
    width: max-content;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 3px #00000059;
}

.user-msg button {
    position: absolute;
    left: 0;
    top: 0;
    height: fit-content;
    border: 0;
    padding: 2px 5px;
    color: $clr6;
}

.user-msg.success {
    background-color: #61bd4f;
    padding-inline-start: 25px;
}

.user-msg.error {
    background-color: #eb5b46;
    padding-inline-start: 25px;
}