button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: $clr7;
}

.btn {
    // background-color: rgba(0, 0, 0, 0.1);
    border: none;
    backdrop-filter: contrast(0.5);


    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    path {
        stroke: inherit;
    }
}

.btn-link {
    background-color: inherit;
    border-radius: 3px;
    color: inherit;
    cursor: pointer;
    height: 32px;
    overflow: hidden;
    padding: 6px 12px;
    text-overflow: ellipsis;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    white-space: nowrap;

    &:hover {
        background-color: #091e4214;
        color: inherit;
    }
}


.btn-bar:not(.no-edit) {
    background-color: rgba(255, 255, 255, 0.2);

    color: inherit;

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: contrast(0.5);

    }
}

.btn-bar {
    transition: .1s ease;
    text-align: center;
    border-radius: 3px;
    color: inherit;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    height: 32px;
    overflow: hidden;
    padding: 1rem 0.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: contrast(0.5);
    gap: 5px;


}

.btn-app-header {
    transition: .1s ease;
    text-align: center;
    border-radius: 3px;
    color: inherit;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    height: 32px;
    overflow: hidden;
    padding: 1rem 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;



    &:hover {
        backdrop-filter: contrast(0.5);

    }
}

.btn-add {
    color: $clr6;
    background-color: $clr8;
    border-radius: 3px;
    padding: 8px 12px;
    margin-inline-end: 4px;

    &:hover {
        background-color: #026aa7;
    }
}

.btn-cancel {
    color: #333;
    border-radius: 3px;
    padding: 4px 12px;

    &:hover {
        background-color: #091e4214;
    }
}

.btn-close {
    display: inline-flex;
    color: $clr9;
    background-color: inherit;

    svg {
        color: $clr1;
        width: 28px;
        height: 28px;
    }
}

.btn-close-modal {
    position: absolute;
    top: 14px;
    right: 14px;
}

.btn-share {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 6px 12px 6px 8px;
    border-radius: 3px;
    height: 32px;
    gap: 4px;

    &:hover {
        // background-color: rgba(255, 255, 255, 0.9) !important;
        backdrop-filter: contrast(0.5);

    }
}

.options-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: #6b778c;
}