button {
    cursor: pointer;
}

.btn {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.btn-link {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: block;
    height: 32px;
    max-width: 300px;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.btn-link:hover {
    background-color: #091e4214;
    border: none;
    box-shadow: none;
    color: inherit;
    text-decoration: none;

}