button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    cursor: pointer;
    color: #ffffff;
}

.btn {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.btn-link {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: block;
    height: 32px;
    max-width: 300px;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.btn-link:hover {
    background-color: #091e4214;
    border: none;
    box-shadow: none;
    color: inherit;
    text-decoration: none;

}

.btn-header:not(.no-edit) {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.btn-header {
    transition: .1s ease;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    margin: 0 4px 4px 0;
    max-width: 400px;
    overflow: hidden;
    padding: 0.5rem 5rem;
    display: flex;
    justify-content: space-around;
}