// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    &.gap-10 {
        gap: 10px
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.black-screen {
    position: fixed;
    inset: 0;
    background-color: #121212db;
    opacity: 0;
    transition: opacity 0.6s;
    pointer-events: none;
    z-index: 1;
    box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
    max-height: 100vh;
    pointer-events: auto;
    opacity: 1;
}

.display-none {
    display: none;
}

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

// .icon {
//     width: 100%;
//     height: 100%;
// }

.line-through {
    text-decoration: line-through;
}