input,
textarea {
    margin: 0;
    color: $clr7;
}

.edit-title-input {
    border: none;
    border-radius: 3px;
    background: #0000;
    box-shadow: none;
    font-family: inherit;
    padding: 0;

    &:focus {
        background-color: $clr6;
        box-shadow: inset 0 0 0 2px #0079bf;
        outline: none;

    }
}