.board-details {
    height: calc(100vh - 44px);
    // padding-left: 24px;
    // padding-bottom: 8px;
    padding: 0 0 8px 0;
    display: flex;
    flex-direction: column;
    background-position: 50%;
    background-size: cover;

    .group-list {
        display: flex;
        flex-grow: 1;
        max-height: 100%;
        width: 100%;
        overflow-x: scroll;
        align-items: flex-start;
        border-radius: 3px;

        >:first-child{
            margin-inline-start: 28px;
        }

        /* width */
        &::-webkit-scrollbar {
            background-color: rgba(211, 211, 211, 0.0);
            border-radius: 4px;
            height: 12px;
            width: 16px;
            padding: 0 16px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(211, 211, 211, 0.4);
            border-radius: 4px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
    }

    .open-main-menu {
        cursor: pointer;
        position: absolute;
        top: 44px;
        left: 0;
        height: calc(100% - 44px);
        width: 16px;
        background-color: rgba(255, 255, 255, 0.16);
        border-right: .2px solid #DFE1E6;


        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            rotate: -90deg;
            margin: 10px 0 0 4px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            font-weight: 900;
            color: $clr6;
            background-color: rgba(0, 0, 0, 0.16);
            backdrop-filter: blur(16px);
            outline: 1px solid rgba(255, 255, 255, 0.29);
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);

            .icon-container {
                background-color: inherit;
                outline: 1px solid rgba(255, 255, 255, 0.5);
            }
        }
    }
}