.board-index {
    height: calc(100% - 44px);
    background-color: #0000;
    margin-top: 40px;
    padding: 0 75px;

    .title {
        display: flex;
        font-size: 1.25rem;
        padding-bottom: 10px;

        svg {
            margin-inline-end: 1rem;
            align-self: center;
        }
    }
}