.jarvis-input-modal {
    position: absolute;
    background-color: black;
    background-image: url("../../img/aiBg/4127298.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20000;

    .jarvis-input-container {

        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        height: 50%;
        transform: translate(50%, 50%);

        .jarvis-input-header {
            img {
                margin-top: -100px;
                margin-bottom: 50px;
            }
        }

    }
}

.main-title-body {
    input {
        border-radius: 150px;
    }

    .Input-text {
        background-color: #40414f;
        box-shadow: 0_0_10px_rgba(0, 0, 0, 0.10);
    }

}

.input-cotainer {
    background-color: #40414f;
    border-radius: 5px;
    height: 35px;
    display: flex;
    align-items: center;
    padding-right: 0.2rem;
    padding-top: 0.1rem;

    input {
        background-color: #40414f;
        color: white;
        text-align: start;
        border-radius: 5px;
        z-index: 10000;
        margin: 30px 0;
        padding-left: 1rem;

        outline: none;
        // box-shadow: 0.5px 0.5px 15px 0.5px #0ff;
        border: none;
        text-align: start;
        text-transform: uppercase;
        font-weight: 700;

    }

    .icon-container {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        border-radius: 5px;

        &:hover {
            background-color: #202123;
        }

    }

    svg {
        cursor: pointer;

    }

}