.task-details {
    height: 100%;
    inset: 0;
    background-color: #000000a3;
    transition: opacity .6s;
    box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
    pointer-events: auto;
    opacity: 1;
    bottom: 0;
    overflow-y: auto;
    position: absolute;
    z-index: 2;

    .black-screen {
        height: 100%;
        inset: 0;
        pointer-events: auto;
        position: absolute;
        z-index: 2;
    }

    .btn-link {
        background-color: rgba(9, 30, 66, 0.04);

        &:hover {
            background-color: rgba(9, 30, 66, 0.08);

        }
    }

    @include for-mobile-layout {
        overflow-x: hidden;

    }

}

.main-task-details {
    color: #172b4d;
    background-color: #f4f5f7;
    position: relative;
    min-height: 750px;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    z-index: 2;
    box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
    width: 768px;
    margin-top: 48px;
    border-radius: 3px;
    display: grid;
    height: max-content;
    margin-bottom: 50px;
    grid-template-columns: 20px 3fr 1fr;
    grid-template-rows: minmax(32px, max-content) 1fr;
    grid-template-areas:
        "header  header  header"
        "content  content  aside";

    .icon-title {
        grid-area: sideicons;
    }

    .task-details-side-menu {
        grid-area: aside;
        width: calc(100% - 600px);
        min-width: 200px;
    }

    .icon-title {
        grid-area: sideicons;
    }

    .task-details-title {
        grid-area: title;

        .task-title-container {
            display: flex;
            flex-direction: column;
            line-height: 0;

            p {
                padding-left: 0.2rem;
            }
        }

        textarea {
            overflow: hidden;
            overflow-wrap: break-word;
            resize: none;
            width: 100%;
            border: none;
            border-radius: 3px;
            font-family: SFUIText;
            font-weight: 700;
            background: #0000;
            box-shadow: none;
            font-size: 21px;
            height: 32px;
            width: 670px;
            margin: 0;

            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                outline: none;
            }
        }

        p {
            margin-top: 0.5rem;
        }
    }

    .details-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        font-size: 27px;
        margin: 4px;
        padding: 4px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .label-preview {
        cursor: pointer;
        padding: 0.3rem rem(10px);
        border-radius: 3px;

        .sec-label-color {
            margin-right: 0.4rem;
            border-radius: 50%;
            width: 16px;
            height: 16px;
        }
    }

    svg {
        width: 27px;
        height: 18px;
        stroke: #172B4D;
    }

    @include for-mobile-layout {
        position: absolute;
        display: block;
        width: 100%;

    }
}

.task-details-content {
    grid-area: content;
    padding-left: 1.2rem;
    padding-bottom: 4rem;

    @include for-mobile-layout {
        padding-bottom: 0;
        padding-right: 2rem;
    }
}