@font-face {
    font-family: Charlie-Text;
    src: url(../../fonts/CharlieText-Regular.ttf);
}

@font-face {
    font-family: SFUIDisplay;
    src: url(../../fonts/SFUIText-Regular.otf);
}

@font-face {
    font-family: SFUIText;
    src: url(../../fonts/SFUIDisplay-Regular.otf);
}