// Colors
$clr1: #6b778c;
$clr2: #172b4d;
$clr3: #ecedf0;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #0079bf;
$clr9: #42526e;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;