// Colors
$clr1: #ce2e6c;
$clr2: #172b4d;
$clr3: #ecedf0;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;