// SETUP
@import 'setup/typography';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/variables';

// BASICS
@import 'basics/base';
@import 'basics/layout';
@import 'basics/helpers';
@import 'basics/buttons';
@import 'basics/links';
@import 'basics/input';

// COMPONENTS
@import 'cmps/app-header';
@import 'cmps/loader';
@import 'cmps/home-header';
@import 'cmps/tool-bar';
@import 'cmps/board-side-bar';
@import 'cmps/user-msg';
@import 'cmps/share-modal';
@import 'cmps/jarvis';

@import 'cmps/board-list';
@import 'cmps/board-preview';
@import 'cmps/board-create';
@import 'cmps/board-recent';
@import 'cmps/board-notification';
@import 'cmps/board-side-menu';
@import 'cmps/board-activity';

@import 'cmps/activity-preview';
@import 'cmps/comment-preview';

@import 'cmps/add-group';
@import 'cmps/group-list';
@import 'cmps/group-preview';

@import 'cmps/task-preview';
@import 'cmps/task-preview-mini-label';
@import 'cmps/task-preview-icons';
@import 'cmps/add-task';
@import 'cmps/task-list';
@import 'cmps/task-filter';

@import 'cmps/task-details-side-menu';
@import 'cmps/task-details-description';
@import 'cmps/task-details-member-list';
@import 'cmps/task-details-header';
@import 'cmps/task-details-label-members-date';
@import 'cmps/task-details-attachments';
@import 'cmps/label-list';
@import 'cmps/task-details-checklist';
@import 'cmps/checklist-item-preview';

@import 'cmps/login-signup';
@import 'cmps/main-side-menu';

@import 'cmps/activity-index';
@import 'cmps/write-comment';

@import 'cmps/user-avatar-icon';

@import 'cmps/progress-bar';
@import 'cmps/dynamic-modal';
@import 'cmps/modal-members';
@import 'cmps/modal-labels';
@import 'cmps/modal-cover';
@import 'cmps/modal-attachment';
@import 'cmps/list-actions';

@import 'cmps/quick-task-edit';
@import 'cmps/dates-modal';
@import 'cmps/copy-modal';

//VIEWS
@import 'views/home-page';
@import 'views/board-details';
@import 'views/board-index';

@import 'views/task-details';